

<suite name="OrangeHRM"  parallel="tests">
  <test name="On firefox">
   <parameter name="browser" value="firefox"/>
    <classes>
      <class name="com.orangehrm.baseclass.Login"/>
	   <class name="com.orangehrm.baseclass.AddEmployee"/>
	   <class name="com.orangehrm.baseclass.TakingScreenshot"/>
	   <class name="com.orangehrm.baseclass.Logout"/>
    </classes>
  </test>
   <test name="On chrome">
   <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.orangehrm.baseclass.Login"/>
	   <class name="com.orangehrm.baseclass.AddEmployee"/>
	   <class name="com.orangehrm.baseclass.TakingScreenshot"/>
	   <class name="com.orangehrm.baseclass.Logout"/>
    </classes>
  </test>  
</suite> 
